.product-card div{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    justify-content: center;
    border: 1px solid lightgray;
    padding-bottom: 5px;

}
 .cardLink{
    text-decoration: none;
    color: black;
    margin: 20px 0px 20px 0px;
    margin-left: 5px;
    margin-right: 5px;
    padding-bottom: 10px;


 }

.cardLink:hover{
    border :1px solid lightgray;
    cursor: pointer;
    transition: 0.2s ease-in-out;


}

.product-card p{
    /* letter-spacing: 2.3px; */
    text-align: center;
    /* text-transform: uppercase; */
    line-height: 30px;
    margin-top: 13px;
    font-size: 20px;
    color: var(--bg-color);
    font-weight: 500;

}
.product-card>img{
    border-top-left-radius:10px;
    border-top-right-radius:10px;
}
.middle-span{
 color: #121d39;
 font-weight: 550;
}
@keyframes slideInFromLeft {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
  }
  
  .animation{  
    /* This section calls the slideInFromLeft animation we defined above */
    animation: 0.3s ease-out 0s 0.3 slideInFromLeft;

  }


  @media only screen and (max-width:600px){
    .product-card p{
        font-size: 14px;
    }
    .product-card span{
        font-size: 12px;
    }
    .product-card>img{
    }
    .cardLink{
        margin: 7px;
    }
  }