.nav{
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    z-index: 100 !important;
    
}
.right-nav,.left-nav,.middle-nav{
 display: flex;
 align-items: center;
}
.left-nav h2{
    cursor: pointer;
}
.logo{
    height: 70px;
    cursor: pointer;
}
.cart-item-for-moblie{
  display: none;
  /* visibility:hidden; */
}
.right-nav .link{
    text-decoration: none;
    padding: 10px;
    color:white;
    border: 1px solid green;
    margin-left:10px;
    border-radius:10px;
}
.middle-nav{
    position: relative;
    /* opacity: 0.4; */
}
.middle-nav:hover{
    opacity: 1
    ;
}
.middle-nav input{
    height: 41px;
  padding: 7px;
  width: 400px;
  border:1px solid green ;
  /* border:none; */
  border-radius: 6px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-right: 70px;
  background-color: white;
}

.middle-nav input:focus{
    /* outline: 2px solid var(--border-color); */
    background: white;
    opacity: 1;
}

.middle-nav .searchIcon{
    background-color:var(--button-color);
    padding: 4.5px;
    height: 30px;
    color: white;
    border-bottom-right-radius: 5px;
    border-top-right-radius:5px;
    width: 40px;
    border:1px solid var(--bg-color);
    position: absolute;
    right: 0px;
    cursor: pointer;

}




    






/* for the cart item of user  */

.right-drawer-for-cart-item{
    width: 400px;
    background: lightgray;
}
.cart-item{
     width: 100%;
}
.cart-item > .top-div{
    display: flex;
    justify-content: space-around;
    height: 100px;
    align-items: center;
}
.cart-item .top-div h3{
    font-size: 30px;
    font-weight: lighter;
}
.bottom-div{
    display: flex;
    margin: auto;
    width: 90%;
    justify-content: space-around;
    margin-top: 10px;
    padding: 20px 0px 30px 0px;
    background-color: white;

}
.bottom-div>img{
    height: fit-content;
    width: 35%;
    }
.cart-item-details{
  margin-top: 5px;
}
.cart-item-details p:first-child{
    font-weight: bold;
}
.cart-item-details p{
    margin-top: 3px;
    cursor: pointer;
}
.item-controller{
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    
}
.item-controller button{
    border: var(--border);
}
.item-quantity{
    display: flex;
    border: var(--border);
    align-items: center;
    padding: 6px;
    margin-right: 2px;
}
.item-controller input{
   width: 40px;
   padding-left: 20px;
   border: none;
} 
.quantity-controler-button{
    border: 1px solid lightgray;

}
.quantity-controler-button:hover{
    transition: 0.4s ease-in-out;
    background-color: lightgray;
}

.checkout-div{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 10px;
}
.left-nav{
    width: 300px;
}
.left-nav input{
    width: 280px;
}

.mobile-friendly{
    display: none;
}



@media only screen and (max-width:960px){
    .right-nav{
        display: none;
    }
    .cart-item-for-moblie{
        display: flex;
        border: none;
        padding-left: 10px;
        margin-right: 10px;
        background: none;
        outline: none;
    }
    .mobile-friendly{
        display: flex;
        font-size: 12px;
    }
}

@media only screen and (max-width:750px){
    .middle-nav input{
        width:300px
    }
}
@media only screen and (max-width:600px){
    .middle-nav{
        display: none;
    }
    .left-nav{
        justify-content: space-between;
        width: 100%;
        
    }
    .logo{
        height: 50px;
    }
    .right-drawer-for-cart-item{
        width: 90vw;
    }
    .right-drawer-for-cart-item img{
        width: 80px;
    }
    .right-drawer-for-cart-item p{
        font-size: 14px;
    }
    .cart-item-details{
        margin-left: 20px;
    }
}
